.lotto {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  /*background-color: coral;*/
  margin-left: 5px;
  margin-right: 5px;;
}

.plus {
  float: left;
  margin: 3px;
  width: 35px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
}

.lotto-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
}